{% import 'macros/form.html' as form %}
{% asset 'long/main' %}



{{ form.input('fields', id='field-fields', label=_('Fields To Be Converted'), value=data.fields, error=errors.fields, classes=['control-full'], attrs={'data-module': 'long-multiselect', 'data-module-fields': field_selection }) }}

{{ form.input('varList', id='varList-fields', label=_('Variable List'), value=data.varList, error=errors.fields, classes=['control-full'], attrs={'data-module': 'long-multiselect', 'data-module-fields': field_selection }) }}


{{
    form.input('varName', 'varName-field', label=_('New Variable Name'), value=data.varName)
}}

{{
    form.input('valueName', 'valueName-field', label=_('New Value Name'), value=data.valueName)
}}



